# .coveragerc 
[run]
branch = True
source = ./python/qianfan
omit = *test.py, test*.py, Test*.py, qianfan/tests/*
[report]
omit = *test.py, test*.py, Test*.py
[html]
directory = htmlcov
[xml]
output = coverage.xml
